@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Figtree";
  src: url("../fonts/Figtree.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  font-synthesis: none;
}

@font-face {
  font-family: "FiraCode";
  src: url("../fonts/FiraCode.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  font-synthesis: none;
}

@font-face {
  font-family: "Noto Sans JP";
  src: url("../fonts/NotoSans-Japan.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  font-synthesis: none;
}

.font-japanese {
  font-family: "Noto Sans JP", system-ui, -apple-system, sans-serif;
}

@layer base {
  html {
    scroll-behavior: smooth;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

@layer base {
  body {
    @apply bg-zinc-900;
    font-family: "Figtree", system-ui, -apple-system, sans-serif;
  }

  .text-mono {
    font-family: "FiraCode", monospace;
  }
}

@layer components {
  .backdrop-blur {
    @apply backdrop-blur-md;
    will-change: backdrop-filter;
  }

  .card-base {
    @apply bg-zinc-900/40 
      backdrop-blur-sm 
      rounded-lg 
      border border-primary-400/10 
      hover:border-primary-400/20 
      transition-all 
      duration-300 
      hover:shadow-lg 
      hover:-translate-y-1;
  }

  .btn-primary {
    @apply px-6 py-3 
      bg-primary-400/10 
      hover:bg-primary-400/20 
      text-primary-300 
      rounded-lg 
      border border-primary-400/20 
      hover:border-primary-400/40
      transition-all
      hover:-translate-y-1;
  }
}

@layer utilities {
  .text-shadow-glow {
    text-shadow: 0 0 5px theme("colors.primary.400"),
      0 0 15px theme("colors.primary.400/50"),
      0 0 25px theme("colors.primary.400/25");
  }

  .hover-glow {
    @apply transition-all duration-300;
  }

  .hover-glow:hover {
    filter: drop-shadow(0 0 0.5rem theme("colors.primary.400"));
  }

  .shadow-glow {
    box-shadow: 0 0 8px theme("colors.primary.400");
  }

  .shadow-red-glow {
    box-shadow: 0 0 8px theme("colors.red.500");
  }

  .shadow-green-glow {
    box-shadow: 0 0 8px theme("colors.green.400");
  }

  .icon-primary {
    @apply text-primary-300 hover:text-primary-200 transition-colors;
  }
  .icon-hover-transform {
    @apply transition-transform hover:translate-x-1;
  }
}
